.random_planet {
    display: flex;
    padding: 1rem;
    border: 1px solid #444;
  }
  h4 {
    padding-top: 15px;
  }
  .random_planet .planet_image {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-right: 1rem;
  }
  
  .random_planet .list_group {
    /* margin: 1rem 0 0 1rem; */
  }
  
  .random_planet .list-group-item {
    padding: .25rem;
  }
  
  .random_planet .list-group-item .term {
    /* margin-right: .5rem; */
  }